{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Agregar Tarea</h2>

    <!-- Formulario para agregar tarea -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

    <!-- Volver a la lista de tareas -->
     <div class="back-btn">
        <button>
            <a href="{% url 'task_list' %}">
                <i class="fa-regular fa-house"></i>
            </a>
        </button>
    </div>
</div>
{% endblock %}