{% extends "base.html" %}

{% block content %}

    <h2>Lista de Tareas</h2>

    <!-- Mostrar las tareas -->
    {% if tasks %}
        {% for task in tasks %}
            <div class="task">
                <form action="{% url 'marcar_completada' task.id %}" method="post" id="task-form-{{ task.id }}">
                    {% csrf_token %}
                    <input 
                    type="checkbox" 
                    name="completada" 
                    {% if task.completado %}checked{% endif %}
                    onchange="this.form.submit()"
                >
                    
                </form>

                <span {% if task.completado %} style="text-decoration: line-through;"{% endif %}>
                    {{ task.titulo }}
                </span>
                <span>
                    {{ task.fecha_vencimiento }}
                </span>

                <!-- Descripcion tarea (oculto por defecto) -->
                <div class="task-description" id="description-{{ task.id }}">
                    <p>{{ task.descripcion }}</p>
                </div>

                <!-- Botones acciones de tarea -->
                <div class="action-buttons">
                    <button class="edit">
                        <a href="{% url 'editar_tarea' task.id %}" class="btn">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </button>
                    <form action="{% url 'borrar_tarea' task.id %}" method="post" onsubmit="return confirm('¿Deseas eliminar esta tarea?')">
                        {% csrf_token %}
                        <button type="submit">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No hay tareas creadas</p>
    {% endif %}

    <!-- Enlace para agregar nueva tarea -->
    <button class="new">
        <a href="{% url 'agregar_tarea' %}">
            <i class="fa-regular fa-square-plus"></i>
        </a>
    </button>


{% endblock %}


