{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ToDo App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'task/styles.css' %}">
</head>
<body>
    <header>
        <h1>ToDo App</h1>
    </header>
    <div class="container">
        {% block content %}
            <!-- Contenido dinámico de la página -->
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 ToDo App</p>
    </footer>
</body>
</html>